.custom-banner{
    width: 100%;
    background: #ffffff;
    color: #111111;
}
.custom-banner__header{
    min-height: 70px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}
.custom-banner__logo{
    font-size: 20px;
    font-weight: 600;
    letter-spacing:2px;
}
.custom-banner__message{
    margin: 0;
    font-size: 15px;
}
.custom-banner__top-button{
    display:inline-flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    transition: transform 0.3s ease;
}
.custom-banner__top-button:hover{
    transform: translateX(5px);
}
.custom-banner__top-button{
    background: #e8d500;
    padding: 18px 30px;
    color: #111111;
}
